.pochita{
  float: right;
  width: 200px;
  height: 150px;
}

h1,h2,h3,h4,h5,h6,p,li,ol,ul{
    color:rgb(198, 241, 235)
}

body{
    color: antiquewhite;
}
a:link, a:visited{
    color: rgb(208, 193, 173);
}
a:hover{
    color:rgb(77, 112, 87)
}